body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(82, 4, 108, 90%);
}

h1 {
    font-size: 12rem;
}

.letter {
    transition: color 1000ms;
}
